{% extends 'base.html.twig' %}

{% block body %}

<h1> Bienvenue </h1>

<p>Achetez et revendez votre outillage d’occasion en toute sécurité. 
Complétez vos revenus de fin de mois . Ici vous trouverez du matériel professionnel,
 des outils, des machines dans le domaines du bricolage, industriel et agricole. 
 Accessible aux particuliers et aux professionnels. 
 Créez un compte gratuitement et enchérissez pour remporter un lot. 
Vous pouvez être livré ou récupérer le lot en mains propres.</p>

{% endblock %}